body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    height : 100%;
    width : 100%;
}

:root {
    --classic : #FFFFFF;
}

.topbar {
    background-color: #2d1974;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.topbar a{
    color: var(--classic);
    text-decoration: none;
}

.brand {
    display : flex;
    align-items: center;
    text-decoration: none;
}

.brand_logo {
    width: 3vw;
    height: auto;
    object-fit: contain;
    margin-right: 10px;
}

.brand_name {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.nav {
    display: flex;
    align-items: center;
}




.presentation {
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 12%;
}   

.recap_img {
    width: 20vw;
    height: auto;
    margin-bottom: 3%;
}

.recap_title {
    font-size: 50px;
    margin-bottom: 3%;
}

.recap_desc {
    font-size: 20px;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}




.recherche {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    margin-bottom: 12%;
}

.texte_recherche {
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
}

.search {
    max-width: 40%;
    padding : 1%;
    border: #FFFFFF solid 1px;
    margin-right: 5%;
}

.search .card_img {
    width: 15%;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
}

.search .card1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px;
    border: #FFFFFF solid 1px;
    margin-bottom: 20px;
}

.search .card2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 10px;
    border: #FFFFFF solid 1px;
    margin-bottom: 20px;
}

.search .card3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 10px;
    border: #FFFFFF solid 1px;
}




.selection {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    margin-bottom: 12%;
}

.texte_selection {
    max-width: 50%;
    margin: 0 auto;
    margin-right: 5%;
    text-align: center;
    border : #FFFFFF solid 1px;
}

.select {
    max-width: 40%;
    padding : 1%;
    border: #FFFFFF solid 1px;
}

.select .card_img {
    width: 15%;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
}

.select .card1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px;
    border: #FFFFFF solid 1px;
    margin-bottom: 20px;
}

.select .card2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 10px;
    border: #FFFFFF solid 1px;
    margin-bottom: 20px;
}

.select .card3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 10px;
    border: #FFFFFF solid 1px;
}







.footer {
    background-color: #111111;
    padding: 20px 0;
    text-align: center;
}

.footer .muted {
    color: #777777;
    font-size: 14px;
}


